<div class="row">
    <app-table-wrapper class="col-sm-6" title="List years with multiple winners" [tableData]="tableYears"></app-table-wrapper>
    <app-table-wrapper class="col-sm-6" title="Top 3 studios with winners" [tableData]="tableStudios"></app-table-wrapper>
    <app-table-wrapper class="col-sm-6" title="Producers with longest and shortest interval between wins" [tableData]="tablesProducers"></app-table-wrapper>
    <app-table-wrapper class="col-sm-6" title="List movie winner by year" [tableData]="tableMovieByYear" [filterYear]="true" [useDefaultYear]="true"></app-table-wrapper>
</div>