/* You can add global styles to this file, and also import other style files */
.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.clearfix {
    clear: both;
}

app-navbar {
    background-color: #e4e4e4;
    z-index: 1;
}

app-paginator {
    width: 100%;
}